PORT=3000
SUPABASE_URL=https://wzhcnbbixmcjdtitztqn.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind6aGNuYmJpeG1jamR0aXR6dHFuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mjc3MzI5MCwiZXhwIjoyMDk4MzQ5MjkwfQ.gsVWnBlR4KvRpDK1RaK4YvPln8KBOz5oDl6bAkBvsZg
JWT_SECRET=AN8y1+3MwCA9l23l7NZrz6luwo/5pBff4OtGpO8wxIzrDdTAXTol1NWaybNIPib487/V1CFINNBI78QUulmjJA==
ADMIN_PASSWORD=berdikariadmin
